<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Here is what you need to get started!</h2>
                <hr class="light">
                <p class="text-faded">Macbook - we will be using some of the most modern technologies for coding and testing. Three to four hours per day - this is reqired amount of time you will need to spend daily(including weekends) on your assignments in order to get a good results and a job after you are done with this course.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
