<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Are You Ready To Become Software QA Engineer?</h1>
            <hr>
            <p>QaLesson Academy will convert you from no matter what you do now, to Software Quality Assurance Engineer! Would you like to make 70 000$ - 140 000$ per year by using your knowledge and little laptop? It will take you 5 months only, but a lot of commitment.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
